[submodule "ggsv"]
	path = ggsv
	url = https://github.com/edawson/ggsv.git
[submodule "vg"]
	path = vg
	url = https://github.com/edawson/vg.git
[submodule "Mash"]
	path = Mash
    url = https://github.com/marbl/Mash
[submodule "LaunChair"]
	path = LaunChair
    url = https://github.com/edawson/LaunChair.git
[submodule "3_HPV_PanGenome"]
	path = 3_HPV_PanGenome
	url = https://github.com/edawson/HPV_PanGenome.git
