[submodule "ggsv"]
	path = ggsv
	url = https://github.com/edawson/ggsv.git
[submodule "vg"]
	path = vg
	url = https://github.com/edawson/vg.git
[submodule "HPV_PanGenome"]
	path = HPV_PanGenome
	url = https://github.com/edawson/HPV_PanGenome.git
